body {
  background-color: black;
  animation-name: changecolor;
  animation-duration: 15s;
}

/* Syntax */
@keyframes changecolor {
  from {background-color: white;}
  to {background-color: black;}
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.responsive {
  width: 100%;
  max-width: 1000px;
  height: auto;
